[submodule "capstone"]
	path = third_party/capstone
	url = https://github.com/idc/capstone
[submodule "xenia_base"]
	path = third_party/xenia_base
	url = https://github.com/idc/xenia_base
[submodule "xbyak"]
	path = third_party/xbyak
	url = https://github.com/idc/xbyak.git
[submodule "third_party/ps4libdoc"]
	path = third_party/ps4libdoc
	url = https://github.com/idc/ps4libdoc.git
	branch = header
